@import 'main';
.layer {
    margin-top: 4px;
    position: relative;
    height: 490px;
    .leftCon {
        width: 178px;
        padding-top: 46px;
        border: 1px solid #ededed;
        background: #FFFFFF;
        float: left;
        margin-right: 10px;
        .floorTit {
            width: 100%;
            height: 42px;
            margin-top: 4px;
            width: 180px;
            line-height: 40px;
            position: absolute;
            top: -4px;
            left: 0px;
            color: #fff;
            font-size: 16px;
            font-family: "microsoft yahei";
            border-bottom: 4px solid #fff;
            b {
                display: block;
                width: 30px;
                height: 40px;
                line-height: 50px;
                margin: 0 11px 0 28px;
                font-size: 18px;
                text-align: center;
                float: left;
                position: relative;
                top: -4px;
            }
        }
        .subCate {
            border-top: none;
            overflow: hidden;
            padding: 13px 0 13px 25px;
            height: 210px;
        }
        .brand {
            position: relative;
        }
    }
    .midFir {
        width: 520px;
        float: left;
        margin-right: 10px;
        a {
            &.topImg {
                display: block;
                width: 518px;
                height: 322px;
                border: 1px solid #ededed;
                img {
                    width: 518px;
                    height: 322px;
                }
            }
            &.botImg {
                display: block;
                width: 518px;
                height: 155px;
                border: 1px solid #ededed;
                img {
                    width: 518px;
                    height: 155px;
                }
            }
        }
    }
    .midSec {
        width: 220px;
        float: left;
        margin-right: 10px;
        a {
            &.topImg {
                display: block;
                width: 228px;
                height: 322px;
                border: 1px solid #ededed;
                img {
                    width: 228px;
                    height: 322px;
                }
            }
            &.botImg {
                display: block;
                width: 228px;
                height: 155px;
                border: 1px solid #ededed;
                img {
                    width: 228px;
                    height: 155px;
                }
            }
        }
    }
    .rightCon {
        float: left;
        a {
            &.aImg {
                display: block;
                height: 155px;
                border: 1px solid #ededed;
                img {
                    width: 228px;
                    height: 155px;
                }
            }
        }
    }
}

.mui-lift {
    position: absolute;
    left: 50%;
    top: 4000px;
    width: 35px;
    margin-left: -635px;
    z-index: 10;
    .sn-nav-wrapper {
        display: block;
        a {
            display: block;
            width: 35px;
            line-height: 35px;
            text-align: center;
            color: #333333;
            &:hover div {
                display: none;
                color: #e27c6a;
            }
            &.on div {
                display: none;
                color: #e27c6a;
            }
            
            &:hover font , &.on font {
                display: block;
                line-height: 15px;
                color: #E8A79C;
            }
            div {
                width: 35px;
                height: 32px;
                border-bottom: 1px solid #CCCCCC;
                padding: 2px 0;
                display: block;
                &.snbg1 {
                    background-position: -518px -58px;
                }
                &.snbg2 {
                    background-position: -518px -102px;
                }
                &.snbg3 {
                    background-position: -518px -145px;
                }
                &.snbg4 {
                    background-position: -518px -191px;
                }
                &.snbg5 {
                    background-position: -518px -235px;
                }
                &.snbg6 {
                    background-position: -518px -276px;
                }
                &.snbg7 {
                    background-position: -518px -319px;
                }
                &.snbg8 {
                    background-position: -518px -359px;
                }
                &.snbg9 {
                    background-position: -518px -404px;
                }
            }
            font {
                display: none;
                border-bottom: 1px solid #e8a79c;
                padding: 3px 0;
                font-size: 12px;
            }
        }
    }
}